<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Admin Dashboard</title>
  <!-- Custom styles for this template -->
  <link rel="stylesheet" th:href="@{/css/admin.css}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-dark sticky-top bg-user flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0 m-2" href="#">Big Pocket Mortgage</a>

  <div class="dropdown">
    <button class="btn btn-outline-light dropdown-toggle m-2 " type="button" data-bs-toggle="dropdown"><span th:text ="${#authentication.getPrincipal().getUsername()}"></span>
      <span class="caret"></span></button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

      <a class="dropdown-item" id="log-out" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
      </svg> Sign Out</a>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar py-2">
      <div class="sidebar-sticky">
        <ul class="nav flex-column ">
          <li class="nav-item">
            <a class="nav-link active my-3" href="adminhome">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
              Home
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="adminnewuser">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
              Add Users
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4"><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
          <div class="row">
            <div class="col-lg-9">
              <form id="edit-form">
                <div class="card mb-4">
                  <div class="card-body">
                    <div id="liveAlertPlaceholder"></div>
                    <select id="role" class="form-select" aria-label="Choose role" onChange="showStaffsForm()">
                      <option selected>Choose role</option>
                      <option value="ROLE_ADMIN" >Admin</option>
                      <option value="ROLE_STAFF">Staff</option>
                      <option value="ROLE_USER">Borrower</option>
                    </select>
                    <hr>
                    <div class="d-none" id="user-info-form">
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0" value="">First Name</p>
                        </div>
                        <div class="col-sm-6">
                          <input class="text-muted mb-3 form-control " id="firstname"></input>
                        </div>
                        <div class="col-sm-3">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Last Name</p>
                        </div>
                        <div class="col-sm-6">
                          <input class="text-muted mb-3 form-control" id="lastname"></input>
                        </div>

                      </div>


                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-6">
                          <input class="text-muted mb-3 form-control" id="username"></input>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Phone</p>
                        </div>
                        <div class="col-sm-6">
                          <input class="text-muted mb-3 form-control" type="tel" id="phone-number"></input>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Password</p>
                        </div>
                        <div class="col-sm-6">
                          <input class="text-muted mb-3 form-control" type="password" id="password" ></input>
                        </div>
                      </div>

                      <div class="d-none" id="borrower-info-form">

                        <div class="row">
                          <div class="col-sm-3">
                            <p class="mb-0">Address</p>
                          </div>
                          <div class="col-sm-6">
                            <input class="text-muted mb-3 form-control" id="address"></input>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-3">
                            <p class="mb-0">Credit Score</p>
                          </div>
                          <div class="col-sm-6">
                            <input class="text-muted mb-3 form-control" type="number" id="credit-score"></input>
                          </div>
                          <div class="col-sm-3">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-3">
                            <p class="mb-0">Loan Amount</p>
                          </div>
                          <div class="col-sm-6">
                            <input class="text-muted mb-3 form-control" type="number" id="loan-amount"></input>
                          </div>
                        </div>

                        <div class="row mb-3">
                          <div class="col-sm-3">
                            <p class="mb-0">Loan Purpose</p>
                          </div>
                          <div class="col-sm-6">
                            <select class="text-muted mb-0 col-sm-12 " name="loan-purpose" id="loan-purpose">
                              <option value="Purchase">Purchase</option>
                              <option value="Refinance">Refinance</option>
                              <option value="Refinance-Cashout">Refinance Cashout</option>
                            </select>
                          </div>
                        </div>

                        <div class="row mb-3">
                          <div class="col-sm-3">
                            <p class="mb-0">Loan term</p>
                          </div>
                          <div class="col-sm-6">
                            <select class="text-muted mb-0 col-sm-12 " name="loan-term" id="loan-term">
                              <option value="30">30 Years</option>
                              <option value="20">20 Years</option>
                              <option value="15">15 Years</option>
                            </select>
                          </div>
                        </div>

                        <div class="row mb-3">
                          <div class="col-sm-3">
                            <p class="mb-0">Loan Type</p>
                          </div>
                          <div class="col-sm-6">
                            <select class="col-sm-12 mb-0 text-muted " name="loantype" id="loan-type">
                              <option value="Conventional">Conventional</option>
                            </select>
                          </div>
                        </div>

                        <div class="row mb-3">
                          <div class="col-sm-3">
                            <p class="mb-0">Occupancy</p>
                          </div>
                          <div class="col-sm-6 ">
                            <select class="col-sm-12 mb-0 text-muted " name="occupancy" id="occupancy">
                              <option value="owner-occupied">Owner Occupied</option>
                              <option value="Second Home">Second Home</option>
                              <option value="Investment">Investment</option>
                            </select>
                          </div>
                        </div>

                        <div class="row mb-3">
                          <div class="col-sm-3">
                            <p class="mb-0">Property Type</p>
                          </div>
                          <div class="col-sm-6 ">
                            <select class="col-sm-12 mb-0 text-muted " name="property-type" id="property-type">
                              <option value="Single House">Single House</option>
                              <option value="Townhouse">Townhouse</option>
                              <option value="Condo">Condo</option>
                              <option value="Duplex">Duplex</option>
                              <option value="Triplex">Triplex</option>
                              <option value="Fourplex">Fourplex</option>
                            </select>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-3">
                            <p class="mb-0">Property Value</p>
                          </div>
                          <div class="col-sm-6">
                            <input class="text-muted mb-3 form-control" type="number" id="property-value"></input>
                          </div>
                        </div>

                      </div>
                      <button id="saveBtn" type="button" class="btn btn-success col-sm-3" onclick="addUser()">Save
                      </button>
                    </div>

                  </div>
                </div>
              </form>

            </div>
          </div>
    </div>
  </div>
<input id="csrf" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script th:src="@{/javascript/admin/admin-create-user.js}" type="application/javascript"></script>
</body>
</html>