<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
        crossorigin="anonymous">
  <!--    <link rel="stylesheet" th:href="@{/css/login.css}">-->
  <title>Home</title>
</head>

<body>
<p type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
<span th:inline="text">Welcome this is admindashboard Admin [[${#httpServletRequest.remoteUser}]]</span>
<span id="userid" class="d-none" type="hidden" th:text="${#authentication.getPrincipal().getId()}"></span> <!-- No ".getUsername()"-->



<form method="post" action="/logout">
  <input id="csrf" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
  <button class="btn btn-danger navbar-btn" type="submit">Logout</button>
</form>

<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="adminhome">Home</a></li>
            <li class="breadcrumb-item"><a href="adminnewuser">Add User</a></li>
            <li class="breadcrumb-item active" aria-current="page">Other Admin Stuff</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <form id="edit-form">
          <div class="card mb-4">
            <div class="card-body">

              <select id="role" class="form-select" aria-label="Choose role" onChange="showStaffsForm()">
                <option selected>Choose role</option>
                <option value="ROLE_ADMIN" >Admin</option>
                <option value="ROLE_STAFF">Staff</option>
                <option value="ROLE_USER">Borrower</option>
              </select>
              <hr>
              <div class="d-none" id="user-info-form">
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0" value="">First Name</p>
                  </div>
                  <div class="col-sm-6">
                    <input class="text-muted mb-3 form-control " id="firstname"></input>
                  </div>
                  <div class="col-sm-3">
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Last Name</p>
                  </div>
                  <div class="col-sm-6">
                    <input class="text-muted mb-3 form-control" id="lastname"></input>
                  </div>

                </div>


                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Email</p>
                  </div>
                  <div class="col-sm-6">
                    <input class="text-muted mb-3 form-control" id="username"></input>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Phone</p>
                  </div>
                  <div class="col-sm-6">
                    <input class="text-muted mb-3 form-control" type="tel" id="phone-number"></input>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Password</p>
                  </div>
                  <div class="col-sm-6">
                    <input class="text-muted mb-3 form-control" type="password" id="password" ></input>
                  </div>
                </div>

                <div class="d-none" id="borrower-info-form">

                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Address</p>
                    </div>
                    <div class="col-sm-6">
                      <input class="text-muted mb-3 form-control" id="address"></input>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Credit Score</p>
                    </div>
                    <div class="col-sm-6">
                      <input class="text-muted mb-3 form-control" type="number" id="credit-score"></input>
                    </div>
                    <div class="col-sm-3">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Loan Amount</p>
                    </div>
                    <div class="col-sm-6">
                      <input class="text-muted mb-3 form-control" type="number" id="loan-amount"></input>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Loan Purpose</p>
                    </div>
                    <div class="col-sm-6">
                      <input class="text-muted mb-3 form-control" id="loan-purpose"></input>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Loan term</p>
                    </div>
                    <div class="col-sm-6">
                      <input class="text-muted mb-3 form-control" id="loan-term"></input>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Loan Type</p>
                    </div>
                    <div class="col-sm-6">
                      <input class="text-muted mb-3 form-control" id="loan-type"></input>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Occupancy</p>
                    </div>
                    <div class="col-sm-6">
                      <input class="text-muted mb-3 form-control" id="occupancy"></input>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Property Type</p>
                    </div>
                    <div class="col-sm-6">
                      <input class="text-muted mb-3 form-control" id="property-type"></input>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Property Value</p>
                    </div>
                    <div class="col-sm-6">
                      <input class="text-muted mb-3 form-control" type="number" id="property-value"></input>
                    </div>
                  </div>

                </div>
                <button id="saveBtn" type="button" class="btn btn-success col-sm-3" onclick="addUser()">Save
                </button>
              </div>

            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script th:src="@{/javascript/admin/admin-create-user.js}" type="application/javascript"></script>
<!--<script src="./admin.js"></script>-->
</body>
</html>