<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <div class="error-details mb-3">
                    Sorry, something went horribly, terribly wrong!
                </div>
                <div class="error-actions mb-3">
                    <a href="/dashboard" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-home"></span>
                        Go to Homepage </a>
                    <p> <span >Or contact support at: 888-888-8888 </span></p>

                </div>
            </div>
        </div>
    </div>
</div>
