<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
        crossorigin="anonymous">
  <!--    <link rel="stylesheet" th:href="@{/css/login.css}">-->
  <title>Home</title>
</head>

<body>

  <input id="csrf" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>


<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="dashboard">Home</a></li>
            <li class="breadcrumb-item"><a href="userprofile">User Profile</a></li>
            <li class=" breadcrumb-item" id="log-out" aria-current="page"><a href="#">Log Out</a></li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <form id="edit-form">
          <div class="card mb-4">
            <div class="card-body">

              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0" value="">First Name</p>
                </div>
                <div class="col-sm-6">
                  <p class="text-muted mb-0" type="text" id="firstname"></p>
                </div>
                <div class="col-sm-3">
                  <p  class="text-muted mb-0" onclick="editUser('firstname')">Edit</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Last Name</p>
                </div>
                <div class="col-sm-6">
                  <p class="text-muted mb-0" type="text" id="lastname"></p>
                </div>
                <div class="col-sm-3">
                  <p  class="text-muted mb-0" onclick="editUser('lastname')">Edit</p>
                </div>

              </div>


              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0" >Email</p>
                </div>
                <div class="col-sm-6">
                  <p class="text-muted mb-0" type="email" id="username"></p>
                </div>
                <div class="col-sm-3">
                  <p  class="text-muted mb-0" onclick="editUser('username')">Edit</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0" >Phone</p>
                </div>
                <div class="col-sm-6">
                  <p class="text-muted mb-0" id="phone-number"></p>
                </div>
                <div class="col-sm-3">
                  <p  class="text-muted mb-0" type="tel" onclick="editUser('phone-number')">Edit</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0" >Password</p>
                </div>
                <div class="col-sm-6">
                  <p class="text-muted mb-0" type="password" id="password" value=""></p>
                </div>
                <div class="col-sm-3">
                  <p  class="text-muted mb-0" onclick="editUser('password')">Edit</p>
                </div>
              </div>
              <hr>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-6">
                  <p class="text-muted mb-0" id="address"></p>
                </div>
                <div class="col-sm-3">
                  <p  class="text-muted mb-0" onclick="editUser('address')">Edit</p>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Credit Score</p>
                </div>
                <div class="col-sm-6">
                  <p class="text-muted mb-0" type="number" id="credit-score"></p>
                </div>
                <div class="col-sm-3">
                  <p  class="text-muted mb-0" onclick="editUser('credit-score')">Edit</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Loan Amount</p>
                </div>
                <div class="col-sm-6">
                  <p class="text-muted mb-0" type="number" id="loan-amount"></p>
                </div>
                <div class="col-sm-3">
                  <p  class="text-muted mb-0"  onclick="editUser('loan-amount')">Edit</p>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-sm-3">
                  <p class="mb-0">Loan Purpose</p>
                </div>
                <div class="col-sm-6">
                  <select class="text-muted mb-0 col-sm-12 " name="loan-purpose" id="loan-purpose">
                    <option value="Purchase">Purchase</option>
                    <option value="Refinance">Refinance</option>
                    <option value="Refinance-Cashout">Refinance Cashout</option>
                  </select>
                </div>

              </div>
              <div class="row mb-1">
                <div class="col-sm-3">
                  <p class="mb-0">Loan term</p>
                </div>
                <div class="col-sm-6">
                  <select class="text-muted mb-0 col-sm-12 " name="loan-term" id="loan-term">
                    <option value="30">30 Years</option>
                    <option value="20">20 Years</option>
                    <option value="15">15 Years</option>
                  </select>
                </div>

              </div>

              <div class="row mb-1">
                <div class="col-sm-3">
                  <p class="mb-0">Loan Type</p>
                </div>
                <div class="col-sm-6">
                  <select class="col-sm-12 mb-0 text-muted " name="loantype" id="loan-type">
                    <option value="Conventional">Conventional</option>
                  </select>
                </div>

              </div>
              <div class="row mb-1">
                <div class="col-sm-3">
                  <p class="mb-0">Occupancy</p>
                </div>
                <div class="col-sm-6">
                  <select class="col-sm-12 mb-0 text-muted " name="occupancy" id="occupancy">
                    <option value="owner-occupied">Owner Occupied</option>
                    <option value="Second Home">Second Home</option>
                    <option value="Investment">Investment</option>
                  </select>
                </div>

              </div>
              <div class="row mb-1">
                <div class="col-sm-3">
                  <p class="mb-0">Property Type</p>
                </div>
                <div class="col-sm-6">
                  <select class="col-sm-12 mb-0 text-muted " name="property-type" id="property-type">
                    <option value="Single House">Single House</option>
                    <option value="Townhouse">Townhouse</option>
                    <option value="Condo">Condo</option>
                    <option value="Duplex">Duplex</option>
                    <option value="Triplex">Triplex</option>
                    <option value="Fourplex">Fourplex</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Property Value</p>
                </div>
                <div class="col-sm-6">
                  <p class="text-muted mb-0" type="number" id="property-value"></p>
                </div>
                <div class="col-sm-3">
                  <p  class="text-muted mb-0"  onclick="editUser('property-value')" >Edit</p>
                </div>
              </div>
              <button id="saveBtn" type="button" class="btn btn-success col-sm-1 mt-2 btn-sm" onclick="handleSubmit()">Save</button>


            </div>
          </div>
        </form>
        <div class="row">

        </div>
      </div>
    </div>
  </div>
</section>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script th:src="@{/javascript/user/userprofile.js}" type="application/javascript"></script>
</body>
</html>